.loader {
    width: 48px;
    height: 48px;

    border: 5px solid #3498db; 
    border-bottom-color: transparent;
    
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    display: block;
    margin: 40px auto; 
}
.desc {
    text-align: center;
    color:#3498db;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}